<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Resume - <%= name %></title>
  <link rel="stylesheet" href="/css/<%= template %>.css" />
  <link rel="icon" href="/icons/<%= template %>.png" type="image/x-icon" />
</head>
<body>
  <h1><%= name %></h1>
  <h2><%= role %></h2>

  <section>
    <h3>Core Skills</h3>
    <p><%= skills %></p>
  </section>

  <section>
    <h3>Years of Experience</h3>
    <p><%= experience %> year(s)</p>
  </section>

  <section>
    <h3>Highlight</h3>
    <p><%= suggestedBullet %></p>
  </section>
</body>
</html>