<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title><%= name %>'s Resume</title>
  <link rel="stylesheet" href="/css/<%= template %>.css" />
  <link rel="icon" href="/icons/<%= template %>.png" type="image/x-icon" />
</head>
<body>
  <h1><%= name %></h1>
  <h2><%= role %></h2>

  <section>
    <h3>Skills</h3>
    <p><%= skills %></p>
  </section>

  <section>
    <h3>Experience</h3>
    <p><%= experience %> year(s)</p>
  </section>

  <section>
    <h3>Summary</h3>
    <p><%= suggestedBullet %></p>
  </section>

</body>
</html>